.footer {
  background-color: $blue-black;
  padding: 83px 20px 53px 20px;

  @include breakpoint($tablet) {
    padding: 50px 20px 44px 20px;
  }

  @include breakpoint($mobile) {
    padding: 42px 20px 47px 20px;
  }
}

.footer__container {
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 85px;
  position: relative;

  @include breakpoint($tablet) {
    flex-direction: column;
    gap: 82px;
    padding-bottom: 202px;
  }

  @include breakpoint($mobile) {
    gap: 34px;
    padding-bottom: 147px;
  }
}

.footer__box {
  margin-right: 194px;

  @include breakpoint($tablet) {
    display: flex;
    margin-right: 0;
    gap: 184px;
  }

  @include breakpoint($mobile) {
    flex-direction: column;
    gap: 34px;
  }
}

.footer__logo {
  width: 180px;
  height: 32px;
  margin-bottom: 20px;

  @include breakpoint($tablet) {
    margin-bottom: 0;
  }

  @include breakpoint($mobile) {
    width: 150px;
    height: 27px;
  }
}

.footer__desc-white {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: $white;
  margin-bottom: 10px;
}

.footer__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: $white;
  opacity: 0.4;
  max-width: 421px;
  margin-bottom: 30px;

  @include breakpoint($mobile) {
    font-size: 16px;
    line-height: 24px;
  }
}

.footer__all-links-box {
  display: flex;
}

.footer__white-links-box {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-right: 169px;
  padding-top: 1px;

  @include breakpoint($tablet) {
    padding-top: 0;
    margin-right: 226px;
  }

  @include breakpoint($mobile) {
    margin-right: 30px;
  }
}

.footer__white-link {
  width: fit-content;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: $white;
  white-space: nowrap;
  position: relative;
  transition: $buttons-duration;

  &::after {
    content: "";
    position: absolute;
    background-color: $blue;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: $buttons-duration;
  }

  &:hover {
    color: $blue;
  }

  &:hover::after {
    width: 100%;
  }
}

.footer__gray-links-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 3px;

  @include breakpoint($tablet) {
    padding-top: 0;
  }
}

.footer__gray-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $white;
  opacity: 0.4;
  white-space: nowrap;
}

.footer__copyright-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;

  @include breakpoint($tablet) {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 29px;
  }

  @include breakpoint($mobile) {
    gap: 24px;
  }
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $white;
  opacity: 0.4;
}

.footer__accessories {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 118px;

  @include breakpoint($tablet) {
    padding-right: 0;
  }
}

.footer__accessories-link {
  width: 40px;
  height: 40px;
  border: 1px solid $silver;
  border-radius: 50%;
  color: $white;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__accessories-link:hover,
.footer__gray-link:hover {
  opacity: 0.7;
}
