.intro {
  padding: 197px 20px 50px 20px;

  @include breakpoint($tablet) {
    padding: 98px 20px 40px 20px;
  }

  @include breakpoint($mobile) {
    padding: 42px 20px 20px 20px;
  }
}

.intro__container {
  width: clamp(200px, 100%, 1230px);
  margin: 0 auto;
  border-bottom: 4px solid $blue-black;
}

.intro__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 58px;

  @include breakpoint($tablet) {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 50px;
  }

  @include breakpoint($mobile) {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 30px;
  }
}

.intro__desc {
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  max-width: 1188px;
  margin-bottom: 116px;

  @include breakpoint($tablet) {
    max-width: 686px;
    margin-bottom: 65px;
  }

  @include breakpoint($mobile) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px;
  }
}
