.quotes {
  padding: 200px 20px 100px 20px;
}

.quotes__container {
  width: clamp(200px, 100%, 1230px);
  margin: 0 auto;
  padding-left: 50px;
  border-left: 3px solid $blue;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quotes__text {
  font-size: 48px;
  font-weight: 500;
  line-height: 67px;
}

.quotes__author {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
}

.quote__title {
  font-weight: 400;
}

.icon-quotes {
  color: $blue;
  font-size: 30px;
}
