/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot?1665746572885');
	src: url('../fonts/iconfont.eot?#iefix-1665746572885') format('embedded-opentype'),
		url('../fonts/iconfont.woff2?1665746572885') format('woff2'),
		url('../fonts/iconfont.woff?1665746572885') format('woff'),
		url('../fonts/iconfont.ttf?1665746572885') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']::before,
[class*=' icon-']::before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-arrow-down::before {
	content: '\ea01';
}

.icon-arrow-left::before {
	content: '\ea02';
}

.icon-arrow-right::before {
	content: '\ea03';
}

.icon-close::before {
	content: '\ea04';
}

.icon-link::before {
	content: '\ea05';
}

.icon-menu::before {
	content: '\ea06';
}

.icon-play-circle::before {
	content: '\ea07';
}