/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot?1666275912740');
	src: url('../fonts/iconfont.eot?#iefix-1666275912740') format('embedded-opentype'),
		url('../fonts/iconfont.woff2?1666275912740') format('woff2'),
		url('../fonts/iconfont.woff?1666275912740') format('woff'),
		url('../fonts/iconfont.ttf?1666275912740') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']::before,
[class*=' icon-']::before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-arrow-down::before {
	content: '\ea01';
}

.icon-arrow-left::before {
	content: '\ea02';
}

.icon-arrow-right::before {
	content: '\ea03';
}

.icon-close::before {
	content: '\ea04';
}

.icon-download::before {
	content: '\ea05';
}

.icon-link::before {
	content: '\ea06';
}

.icon-long-arrow-right::before {
	content: '\ea07';
}

.icon-mail::before {
	content: '\ea08';
}

.icon-menu::before {
	content: '\ea09';
}

.icon-minus::before {
	content: '\ea0a';
}

.icon-phone::before {
	content: '\ea0b';
}

.icon-play-circle::before {
	content: '\ea0c';
}

.icon-plus::before {
	content: '\ea0d';
}

.icon-printer::before {
	content: '\ea0e';
}

.icon-quotes::before {
	content: '\ea0f';
}

.icon-wifi::before {
	content: '\ea10';
}