%button {
  font-family: $mukta-family;
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: $black;
  padding: 0;
}

.btn {
  @extend %button;
}

.btn-blue {
  @extend %button;
  background-color: $blue;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 15px 30px 16px 30px;

  @include breakpoint($tablet) {
    padding: 12px 20px;
    gap: 11px;
    font-size: 14px;
    line-height: 17px;
  }
}

.btn-blue:hover {
  background-color: lighten($blue, $amount: 7);
}

.btn-slider {
  @extend %button;
  border: 1px solid $slider-border;
  width: 80px;
  height: 80px;
  color: $blue;
  border-radius: 50%;
}

.btn-slider:hover {
  background-color: darken($white, $amount: 3);
}

.btn-slider:active {
  background-color: darken($white, $amount: 6);
}
