$mukta-family: "Mukta", sans-serif;

$white: #fff;
$black: #000;
$blue: #304ffe;
$silver: #9b9da5;
$pale-gray: #f1f3f6;
$border-gray: #eaeaea;

$dropdown-duration: 0.2s;

$tablet: 1199px;
$mobile: 767px;
